
		body {
			background-image:url("../images/leafbackground.jpg");
			/*same image name on all of them?*/
			background-size:100%;
			opacity: 0.77;
		}
	
		.contactContainer {
			width:600px;
			margin:auto;
			height:auto;
			box-shadow: 10px 10px 5px 
			#475c68;
			background-color: #4b8340;

		}

		.contactSection {
			margin-top:50px;
			text-align:center;
			text-shadow: 5px 5px 2px #475c68;
			color:black;
			
		}

		
		.form {
			padding:20px;
			padding-bottom:30px;
			color:black;
		}
		
		#submitButton {
			background-color: black;
			color:lightgrey;
		}

		.navbar{
			background-color: #4b8340;
			opacity:.95;
			border-color: #4b6811;
			color: white;
		}

		.logo {
			max-width:400%;
			max-height:400%;
			margin-top:-28px;
		}


		/*sign Up Css*/

		.navbar-inverse .navbar-nav>li>a{
			color: white;
		}

		#active{
			background-color: #4b6811;
		}

		/*.navbar-inverse .navbar-nav>li>a:visited {
			color:#9d9d9d;
		}*/
		.navbar-inverse .navbar-brand{
			color: white;
		}

		/*hover and focus selector section*/
		.navbar-inverse .navbar-brand:hover {
			color: #9d9d9d;
		}

		.navbar-inverse .navbar-brand:focus {
			color: #9d9d9d;
		}

		.navbar-inverse .navbar-nav>li>a:hover {
			color: #9d9d9d;
		}

		.navbar-inverse .navbar-nav>li>a:focus {
			color: #9d9d9d;
		}

		#get-started:hover {
			color: #9d9d9d;
		}

		#get-started:focus {
			outline:none;
			color: #9d9d9d;
		}

		/*container containing get started button*/
		.container{
			position: relative;
		}

		#get-started{
			height: 150px;
			width: 300px;
			position: absolute;
			background-color: #4b8340;
			border-radius: 25px;
			color: black;
			opacity:.90;
			top: 60%;
			left: 60%;
			font-size: 24px;
			z-index: 50;
		}
		/*start of the modal*/
		.signup-modal-container, .signin-modal-container{
			height: 100vh;
			width:  100vw;
			position: fixed;
			display:flex;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
			background-image:url("images/leafbackground.jpg");
			z-index: 1000;

		}

		.signup-modal-window, .signin-modal-window{
			height:auto;
			width:500px;
			padding:10px;
			background-color:#4b8340;
			position:fixed;
			box-shadow: 0px 0px 60px 15px black;
			border-radius:60px;
			
		}

		#title{
			text-align: center;
			color:black;
		}

		.hidden{
			display: none;
		}

		.hidden1{
			display: none;
		}

		#signUpForm, #signInForm{
			background-color:#4b8340;
			width: 90%;
			margin-left:auto;
			margin-right:auto;
			/*justify-content: center;*/
			/*align-items: center;*/
		}

		input, label{
			display: block;
			width:75%;
			margin-left:30px;

		}
		.label{
			font-size:15px;
			color: black;

		}

		#submitBtn, #cancelBtn {
			/*margin-left:70%;*/
			margin:2% 5% 1% 70%;
			background-color:black;
			color:lightgrey;
			border-radius:10px;
		}


		/*HOW HIGH ARE YOU MODAL(QUESTIONS MODAL)*/

		#questionsModal {
			/*display:none;*/
			position:fixed;
			z-index:1;
			margin-top:0;
			margin-left:0;
			height:100%;
			width:100%;
			overflow:auto;
			background-image:url("images/leafbackground.jpg");
			
		
		}

		.questionsModalConent {
			text-align:center;
			color:black;
			background:lightgrey;
			margin: 15% auto;
			padding:30px;
			padding-top:15px;
			width:90%;
			box-shadow: 10px 10px 5px;
			border-radius:60px;
			background-color: #4b8340;
			opacity:.77;
		
		}

		.scalePic {
			width:10%;
			height:100%;
			border-radius:100px;
			padding:10px;
			font-size:15px;
			transition: transform .2s;
		}

		.scalePic:hover {
	    	transform: scale(1.25)
		}

		/*HANGMAN CSS*/

		#hangManHeader {
			text-align:center;
			font-size:25px;
		}

		#stonerDiv {
			width: 300px;
		  	position:relative;
		  	margin-top:100px;  
		  	margin:auto;
		}

		#smokingHangMan {
			width:300px;
			height:300px;
		}
		
		#gameSection {
			background:#4b8340;
		}



